body {
  background: #444444;
  color: #449e73; }

.step {
  font-family: "iranyekan"; }

.fff {
  font-family: "iranyekan"; }

.eff {
  font-family: "roboto"; }

.rta {
  text-align: right; }

.lta {
  text-align: left; }

.rtl {
  direction: rtl; }

.gc {
  color: #449e73; }

.footnote {
  font-size: 24px; }

img {
  border-radius: 10px; }

#start .start-title {
  color: #ffffff;
  font-size: 70px;
  font-weight: bold; }

#ux .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#ux .img-box {
  margin-top: 20px;
  text-align: center; }

#wsj .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#wsj .img-box {
  margin-top: 20px;
  text-align: center; }

#need .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#need .img-box {
  margin-top: 20px;
  text-align: center; }

#mistakes .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#mistakes .img-box {
  margin-top: 20px;
  text-align: center; }

#creative {
  text-align: center; }
  #creative .caption {
    font-size: 18px;
    font-weight: 300;
    text-shadow: none;
    margin: 20px auto 0; }
  #creative .img-box {
    margin-top: 20px;
    text-align: center; }
  #creative div.co {
    text-align: left; }

#effective .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#effective .img-box {
  margin-top: 20px;
  text-align: center; }

#actionable .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#actionable .img-box {
  margin-top: 20px;
  text-align: center; }

#cluttered .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#cluttered .img-box {
  margin-top: 20px;
  text-align: center; }

#elements .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#elements .img-box {
  margin-top: 20px;
  text-align: center; }

#icons .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#icons .img-box {
  margin-top: 20px;
  text-align: center; }

#inconsistencies .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#inconsistencies .img-box {
  margin-top: 20px;
  text-align: center; }

#feedback .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#feedback .img-box {
  margin-top: 20px;
  text-align: center; }

#feedback img {
  margin-top: 80px; }

#sync .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#sync .img-box {
  margin-top: 20px;
  text-align: center; }

#complicated .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#complicated .img-box {
  margin-top: 20px;
  text-align: center; }

#audience .caption {
  font-size: 18px;
  font-weight: 300;
  text-shadow: none;
  margin: 20px auto 0; }

#audience .img-box {
  margin-top: 20px;
  text-align: center; }

#audience img {
  margin-top: 100px; }

#mistakes,
#prototype,
#test {
  text-align: center; }
  #mistakes h1,
  #prototype h1,
  #test h1 {
    color: #fff;
    font-size: 65px; }

#winning h1 {
  color: #ffffff; }

#process,
#winning {
  text-align: center; }
  #process h1,
  #winning h1 {
    font-size: 50px;
    margin-bottom: 20px; }
  #process .img-wrapper,
  #winning .img-wrapper {
    text-align: center; }
  #process p,
  #winning p {
    font-size: 36px; }
    #process p small,
    #winning p small {
      color: #ffffff;
      font-size: 24px; }

#planIt .img-wrapper {
  text-align: center; }

#planIt p {
  font-size: 36px; }
  #planIt p small {
    color: #ffffff;
    font-size: 24px; }

#sketchIt .img-wrapper {
  text-align: center; }

#sketchIt p {
  font-size: 36px; }
  #sketchIt p small {
    color: #ffffff;
    font-size: 24px; }

#sketchVideo .img-wrapper {
  text-align: center; }

#sketchVideo p {
  font-size: 36px; }
  #sketchVideo p small {
    color: #ffffff;
    font-size: 24px; }

#sketchVideo video {
  display: block;
  margin: auto; }

#sketchVideo p {
  margin-top: 20px;
  text-align: center; }

#visualDesign .img-wrapper {
  text-align: center; }

#visualDesign p {
  font-size: 36px; }
  #visualDesign p small {
    color: #ffffff;
    font-size: 24px; }

#powerpoint {
  text-align: center; }
  #powerpoint h1 {
    color: #fff;
    font-size: 65px; }

#addToPowerpoint .img-wrapper {
  text-align: center; }

#addToPowerpoint p {
  font-size: 36px; }
  #addToPowerpoint p small {
    color: #ffffff;
    font-size: 24px; }

#actionButton .img-wrapper {
  text-align: center; }

#actionButton p {
  font-size: 36px; }
  #actionButton p small {
    color: #ffffff;
    font-size: 24px; }

#export .img-wrapper {
  text-align: center; }

#export p {
  font-size: 36px; }
  #export p small {
    color: #ffffff;
    font-size: 24px; }

#justinmind {
  text-align: center; }
  #justinmind h1 {
    color: #fff;
    font-size: 65px; }

#getstarted .img-wrapper {
  text-align: center; }

#getstarted p {
  font-size: 36px; }
  #getstarted p small {
    color: #ffffff;
    font-size: 24px; }

#widget .img-wrapper {
  text-align: center; }

#widget p {
  font-size: 36px; }
  #widget p small {
    color: #ffffff;
    font-size: 24px; }

#zoom .img-wrapper {
  text-align: center; }

#zoom p {
  font-size: 36px; }
  #zoom p small {
    color: #ffffff;
    font-size: 24px; }

#screens .img-wrapper {
  text-align: center; }

#screens p {
  font-size: 36px; }
  #screens p small {
    color: #ffffff;
    font-size: 24px; }

#properties .img-wrapper {
  text-align: center; }

#properties p {
  font-size: 36px; }
  #properties p small {
    color: #ffffff;
    font-size: 24px; }

#outline .img-wrapper {
  text-align: center; }

#outline p {
  font-size: 36px; }
  #outline p small {
    color: #ffffff;
    font-size: 24px; }

#events .img-wrapper {
  text-align: center; }

#events p {
  font-size: 36px; }
  #events p small {
    color: #ffffff;
    font-size: 24px; }

#simulation .img-wrapper {
  text-align: center; }

#simulation p {
  font-size: 36px; }
  #simulation p small {
    color: #ffffff;
    font-size: 24px; }

#setup .img-wrapper {
  text-align: center; }

#setup p {
  font-size: 36px; }
  #setup p small {
    color: #ffffff;
    font-size: 24px; }

#setup .dl {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; }

#video .img-wrapper {
  text-align: center; }

#video p {
  font-size: 36px; }
  #video p small {
    color: #ffffff;
    font-size: 24px; }

#video .dl {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center; }

#test img {
  border: 20px solid #ffffff; }

#test p {
  font-size: 36px;
  direction: rtl; }

#ourTeam {
  text-align: center;
  direction: rtl; }
  #ourTeam h1 {
    color: #449e73;
    font-size: 50px;
    text-align: center; }
  #ourTeam ul li {
    display: inline-block;
    font-size: 18px;
    margin: 20px; }
    #ourTeam ul li img {
      width: 100px; }
    #ourTeam ul li div {
      color: #ffffff; }
  #ourTeam .img-box {
    background: #fff;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    width: 100px;
    height: 100px; }
    #ourTeam .img-box img {
      margin: 20px auto;
      width: 80px; }
  #ourTeam .footnote {
    color: #ffffff; }

#question {
  text-align: center; }
