$darkGreen: #444444;
$dotinGreen: #449e73;
$faFont: "iranyekan";
$enFont: "roboto";

body {
    background: $darkGreen;
    color: $dotinGreen;
}

.step {
    font-family: $faFont;
}
// Fa Font Face

.fff {
    font-family: $faFont;
}
// En Font Face

.eff {
    font-family: $enFont;
}
// Right Text Align

.rta {
    text-align: right;
}
// Right Text Align

.lta {
    text-align: left;
}
// RTL

.rtl {
    direction: rtl;
}
// Green Colored

.gc {
    color: $dotinGreen;
}

.footnote {
    font-size: 24px;
}

img {
    border-radius: 10px;
}
// MIXINS
@mixin caption() {
    .img-wrapper {
        text-align: center;
    }

    p {
        font-size: 36px;

        small {
            color: #ffffff;
            font-size: 24px;
        }
    }
}
@mixin num-slide() {
    .caption {
        font-size: 18px;
        font-weight: 300;
        text-shadow: none;
        margin: 20px auto 0;
    }

    .img-box {
        margin-top: 20px;
        text-align: center;
    }
}
// START

#start {
    .start-title {
        color: #ffffff;
        font-size: 70px;
        font-weight: bold;
    }
}

#ux {
    @include num-slide();
}

#wsj {
    @include num-slide();
}

#need {
    @include num-slide();
}

#mistakes {
    @include num-slide();
}

#creative {
    @include num-slide();

    div.co {
        text-align: left;
    }
    text-align: center;
}

#effective {
    @include num-slide();
}

#actionable {
    @include num-slide();
}

#cluttered {
    @include num-slide();
}

#elements {
    @include num-slide();
}

#icons {
    @include num-slide();
}

#inconsistencies {
    @include num-slide();
}

#feedback {
    @include num-slide();

    img {
        margin-top: 80px;
    }
}

#sync {
    @include num-slide();
}

#complicated {
    @include num-slide();
}

#audience {
    @include num-slide();

    img {
        margin-top: 100px;
    }
}
// Prototype

#mistakes,
#prototype,
#test {
    text-align: center;

    h1 {
        color: #fff;
        font-size: 65px;
    }
}

#winning {
    h1 {
        color: #ffffff;
    }
}

#process,
#winning {
    text-align: center;

    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    @include caption();
}

#planIt {
    @include caption();
}

#sketchIt {
    @include caption();
}

#sketchVideo {
    @include caption();

    video {
        display: block;
        margin: auto;
    }

    p {
        margin-top: 20px;
        text-align: center;
    }
}

#visualDesign {
    @include caption();
}
// PowerPoint

#powerpoint {
    text-align: center;

    h1 {
        color: #fff;
        font-size: 65px;
    }
}

#addToPowerpoint {
    @include caption();
}

#actionButton {
    @include caption();
}

#export {
    @include caption();
}
// Axure

#justinmind {
    text-align: center;

    h1 {
        color: #fff;
        font-size: 65px;
    }
}

#getstarted {
    @include caption();
}

#widget {
    @include caption();
}

#zoom {
    @include caption();
}

#screens {
    @include caption();
}

#properties {
    @include caption();
}

#outline {
    @include caption();
}

#events {
    @include caption();
}

#simulation {
    @include caption();
}

#setup {
    @include caption();

    .dl {
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
}

#video {
    @include caption();

    .dl {
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
    }
}

#test {
    img {
        border: 20px solid #ffffff;
    }

    p {
        font-size: 36px;
        direction: rtl;
    }
}
// Our Team

#ourTeam {
    text-align: center;
    direction: rtl;

    h1 {
        color: $dotinGreen;
        font-size: 50px;
        text-align: center;
    }

    ul {
        li {
            display: inline-block;
            font-size: 18px;
            margin: 20px;

            img {
                width: 100px;
            }

            div {
                color: #ffffff;
            }
        }
    }

    .img-box {
        background: #fff;
        border-radius: 15px;
        margin: auto;
        text-align: center;
        width: 100px;
        height: 100px;

        img {
            margin: 20px auto;
            width: 80px;
        }
    }

    .footnote {
        color: #ffffff;
    }
}
// Question

#question {
    text-align: center;
}
